// import our custom BS variables file
@import 'variables';

// import main BS router file to get all BS css
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url($image-base + 'body-bg.png');
  background-repeat: repeat;
  background-position: top left;
}

.navbar-default {
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
