// import our custom BS variables file
@import 'variables';

// import main BS router file to get all BS css
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// import slick-carousel
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import 'carousel';

body {
  background-image: url($image-base + 'body-bg.png');
  background-repeat: repeat;
  background-position: top left;
}
